rules_version = '2';
service cloud.firestore {
  function allowed() {
    return request.auth != null
      && request.auth.token.email in [
        "EMAIL_ONE",
        "EMAIL_TWO"
      ];
  }
  match /databases/{database}/documents {
    match /songs/{songId} {
      allow read, write: if allowed();
    }
    match /meta/{docId} {
      allow read, write: if allowed();
    }
  }
}
